* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Courier New";
  }
  
  html,
  body {
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;
    background: #f2f2f2;
  }
  
  .container {
    background: #000;
    width: 380px;
    padding: 20px 30px;
    border-radius: 5px;  
    transform: scale(1.3);
  }
  
  .container header {
    font-size: 24px;
    font-weight: 700;
    color: #bbe4a0;
  }
  
  .container form {
    margin: 20px 5px 20px;
  }
  
  form .field {
    height: 45px;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  form .field input {
    height: 100%;
    width: 100%;
    border: 2px solid lightgrey;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: all 0.2s;
  }
  
  form .field input:focus {
    border-color: #7fc819;
    box-shadow: inset 0 0 4px #25efef;
  }
  
  form .field .showBtn {
    position: absolute;
    right: 10px;
    top: 36%;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer; 
  }

  form .text {
    font-size: 20px;
    font-weight: 590;
    margin-bottom: 10px;
    color: #ba55d3;
    padding-top: 10px;
  }
  